:root {
  --border-pass: green;
  --primary-passbtn-hover: #e6e8ec;
  --border: #ddd;

  --primary-color: #259bba;
  --primary-color-hover: #19728a;

  --text-primary: black;
  --warning: rgb(202, 7, 7);
  --disabled: #ccc;

  --label: #555;
  --form-input-outline: #007bff;

  --close-button: #f8f8f8;
  --close-button-hover: #e7effc;
  --disabled-text: #39576e;
  --disabled-popup: #8c9092;
  --account-menu: #e9e8e8;

  --table-row-hover: #f3f3f3;

  --primary-text-color: white;
  --background-primary: white;
}

[data-theme="dark"] {
  --border-pass: green;
  --primary-passbtn-hover: #61676b;
  --border: #6c6e70;

  --primary-color: #2188a3;
  --primary-color-hover: #15657a;

  --text-primary: #fff;
  --warning: rgb(202, 7, 7);
  --disabled: #b3b1b1;

  --label: #ddd;
  --form-input-outline: #007bff;

  --close-button: #4c5053;
  --close-button-hover: #3e4347;
  --disabled-text: #ddd;
  --disabled-popup: #bdc4c9;
  --account-menu: #6c7175;

  --table-row-hover: #616568;

  --primary-text-color: #3e4347;
  --background-primary: #3e4347;
}
