.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    font-family: arial;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 20px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.popup-header h2 {
    margin: 0;
    font-size: 18px;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    padding: 0;
}

.popup-body {
    margin-bottom: 20px;
}

.term-options {
    margin-top: 10px;
}

.term-option {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.term-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.term-option input {
    margin: 0;
    transform: scale(1.2);
    cursor: pointer;
}

.term-text.disabled-text {
    color: #39576e;
    text-decoration: line-through;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
}

.save-button {
    background-color: #259bba;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #19728a;
}