.exams-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.exam-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.exam-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exam-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

.exam-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.apply-button {
    background-color: #4c85e0;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.apply-button:hover {
    background-color: #0056b3;
}

.exam-time {
    color: #ff6347;
}

.create-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.create-button {
    padding: 10px 20px;
    background-color: #4c85e0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
    transition: background-color 0.3s;
}
.create-button:hover {
    background-color: #0056b3;
}