.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.navbar-title {
    font-size: 1.5em;
}
.account-container {
    display: flex;
    align-items: center;
    position: relative;
}
.contact {
    margin-right: 20px;
}
.account-name {
    margin-right: 20px;
}
.account-icon {
    width: 20px;
    height: 20px;
}
.main_account_icon {
    width: 25px;
    height: 25px;
}
.account-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 10px 0;
}