body {
  margin: 0;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary); 
  height: 100vh;
}

.logRegCard {
  display: flex;
  width: 830px;
  height: 530px;
  border-radius: 20px;
  border: 2px solid var(--border);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--background-primary);
  padding: 20px;
}

.leftPane, .rightPane {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPane {
  flex: 1;
  background-color:#b7b8b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.formBox {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.submitButton {
  width: 30%;
}

.switchText {
  margin-top: 4rem;
  font-size: 0.1rem;
}

.signLink {
  color: #2188a3;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.errorText {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
